{% extends "base.html" %}
{% load static %}
{% block spacer-block %}
<style>
  .spacer {
    height: 130px; 
    visibility: hidden; /* Không hiển thị nhưng vẫn chiếm không gian */
}

  .form-group{
    padding: 8px;
  }
</style>
{% endblock spacer-block %}
{% block main-content %}
<div class="spacer"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="font-weight-light my-1 text-center">Hướng dẫn đổi mật khẩu:</h3>
                    <p>
                        Chúng tôi đã gửi nó qua email bạn đăng ký ứng với số điện thoại đã nhập. Hãy kiểm tra hộp thư của bạn.
                    </p>
                    <p>
                       Nếu bạn không nhận được email, hãy chắc chắn rằng bạn đã đăng ký đúng địa chỉ cũng như nhập đúng số điện thoại, và kiểm tra hộp thư rác.
                    </p>

                    
                    {% if masked_email %}
                        <p class="mt-3">Email khôi phục của bạn: <strong>{{ masked_email }}</strong></p>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
{% block user_dropdown %}
<!-- Không hiển thị gì -->
{% endblock %}
{% endblock main-content %}
