{% extends "base.html" %}
{% load static %}
{% block spacer-block %}
<style>
  .spacer {
    height: 155px; 
    visibility: hidden; /* Không hiển thị nhưng vẫn chiếm không gian */
}

  .form-group{
    padding: 8px;
  }
</style>
{% endblock spacer-block %}
{% block main-content %}
<div class="spacer"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header text-center">
                    <h3 class="font-weight-light my-1">Đặt lại mật khẩu</h3>
                </div>
                <div class="card-body">
                    {% if validlink %}
                        <p class="text-center">Vui lòng nhập mật khẩu mới của bạn.</p>
                        <form method="post" class="text-center">
                            {% csrf_token %}
                            <div class="form-group">
                                {% comment %} {{ form.new_password1.label_tag }} {% endcomment %}
                                Mật khẩu mới:
                                {{ form.new_password1 }}
                            </div>
                            <div class="form-group">
                                Xác nhận lại:
                                {{ form.new_password2 }}
                            </div>
                            <button type="submit" class="btn btn-dark btn-primary">Đặt lại mật khẩu</button>
                        </form>
                    {% else %}
                        <p class="text-danger text-center">Liên kết đặt lại mật khẩu không hợp lệ hoặc đã hết hạn.</p>
                        <a href="{% url 'password_reset' %}" class="btn btn-dark btn-primary col-12">Yêu cầu lại</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
{% block user_dropdown %}
<!-- Không hiển thị gì -->
{% endblock %}
{% endblock main-content %}
