{% extends "base.html" %}
{% load static %}
{% block spacer-block %}
<style>
  .spacer {
    height: 140px; 
    visibility: hidden; /* Không hiển thị nhưng vẫn chiếm không gian */
}

  .form-group{
    padding: 8px;
  }
</style>
{% endblock spacer-block %}
{% block main-content %}
<div class="spacer"></div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header justify-content-center">
                    <h3 class="font-weight-light my-1 text-center">Quên mật khẩu?</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">Nhập số điện thoại của bạn, chúng tôi sẽ gửi hướng dẫn đặt lại mật khẩu.</p>

                    <form method="POST" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                        </div>
                        <button type="submit" class="btn btn-dark btn-primary">Gửi hướng dẫn</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
{% block user_dropdown %}
<!-- Không hiển thị gì -->
{% endblock %}
{% endblock main-content %}
