{% extends "base.html" %}
{% load static %}
{% block spacer-block %}
<style>
  .spacer {
    height: 140px; 
    visibility: hidden; /* Không hiển thị nhưng vẫn chiếm không gian */
}

  .form-group{
    padding: 8px;
  }
</style>
{% endblock spacer-block %}

{% block main-content %}
<div class="spacer"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header text-center">
                    <h3 class="font-weight-light my-1">Đặt lại mật khẩu thành công</h3>
                </div>
                <div class="card-body text-center">
                    <p>Mật khẩu của bạn đã được cập nhật thành công.</p>
                    <p>Bây giờ bạn có thể đăng nhập bằng mật khẩu mới.</p>
                    <a href="{% url 'login' %}" class="btn btn-dark btn-primary">Quay lại đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer"></div>
{% block user_dropdown %}
<!-- Không hiển thị gì -->
{% endblock %}
{% endblock main-content %}

