{% extends "base.html" %}
{% load static %}

{% block main-content %}
<main class="main">

  <!-- Section Title -->
  <section id="history" class="history section">
    <div class="container section-title text-center" data-aos="fade-up">
      <h2 class="section-title-heading">Lịch Sử Sử Dụng</h2>
      <p class="section-title-description">Xem lịch sử sử dụng của bạn:</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

          <!-- Lịch sử sử dụng -->
          <div class="history-item mb-4">
            <h3 class="history-item-title">Lịch Sử Sử Dụng</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Ngày</th>
                  <th>Text</th>
                  <th>Tải file text</th>
                  <th>Voice</th>
                  <th>Gói</th>
                </tr>
              </thead>
              <tbody>
                {% for history in use_history %}
                <tr>
                  <td>{{ history.timestamp }}</td>
                  <td>{{ history.input_text }}</td> <!-- Tên gói từ bảng Package -->
                  <td>
                    <a href="{% static 'history/input_text/' %}{{ history.text_file }}" download>
                      Tải file text đầy đủ
                    </a>  
                  </td> <!-- Giá trị giao dịch -->
                  <td>
                    <a href="{% static 'history/output_audio/' %}{{ history.voice_file }}" download>
                      Tải file audio
                    </a>  
                  </td> <!-- Giá trị giao dịch -->
                  <td>{{ history.package.name }} </td> <!-- Giá trị giao dịch -->

                </tr>
                {% empty %}
                <tr>
                  <td colspan="3">Chưa có lịch sử sử dụng.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </section><!-- /Lịch sử giao dịch -->

</main>
{% endblock main-content %}
