{% extends "base.html" %}
{% load static %}

{% block main-content %}
<main class="main">

  <!-- Section Title -->
  <section id="history" class="history section">
    <div class="container section-title text-center" data-aos="fade-up">
      <h2 class="section-title-heading">Lịch Sử Sử Dụng</h2>
      <p class="section-title-description">Xem lịch sử sử dụng của bạn:</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

          <!-- Lịch sử sử dụng -->
          <div class="history-item mb-4">
            <h3 class="history-item-title">Lịch Sử Sử Dụng</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>Ngày</th>
                  <th>Text</th>
                  <th>Số ký tự</th>
                  <th>Thời lượng (s)</th>
                  <th>Gói</th>
                </tr>
              </thead>
              <tbody>
                {% for history in use_history %}
                <tr>
                  <td>{{ history.timestamp }}</td>
                  <td>{{ history.text_preview }}</td> <!-- 10 từ đầu tiên -->
                  <td>{{ history.character_count }}</td> <!-- Số ký tự -->
                  <td>{{ history.duration|default:"N/A" }}</td> <!-- Thời lượng audio -->
                  <td>{{ history.package.name|default:"N/A" }} </td> <!-- Tên gói -->

                </tr>
                {% empty %}
                <tr>
                  <td colspan="5" class="text-center">Chưa có lịch sử sử dụng.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

  </section><!-- /Lịch sử giao dịch -->

</main>
{% endblock main-content %}
