{% extends "base.html" %}
{% load static %}
{% block main-content %}
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static '\assets\img\portfolio\bìa.jpg'%}" alt="" data-aos="fade-in" style="filter: blur(5px);">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>CHAMELEON VOICE</h2>
            <p>I'm a professional Text to Speech Tools for Vietnamese!</p>
            <a href="{% url 'index' %}" class="btn-get-started">Try</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>

  <section id="stats" class="stats section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Thông số</h2>
      <p>Sản phẩm của chúng tôi dành cho thị trường Việt Nam</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="{{ customers_count }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Languages</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
            <p>Channels</p>
          </div>
        </div><!-- End Stats Item -->

        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
            <p>Workers</p>
          </div>
        </div><!-- End Stats Item -->

      </div>

    </div>

  </section><!-- /Stats Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Nhân sự chủ chốt</h2>
      <p>Những mảnh ghép nhỏ tạo nên kiệt tác lớn.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static '/assets/img/human/linh.jpg' %}" class="testimonial-img" alt="">
              <h3>Trịnh Đức Linh</h3>
              <h4>Ceo &amp; Founder</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Lãnh đạo không phải là ra lệnh, mà là truyền cảm hứng và định hướng để cả đội cùng vươn xa.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static '/assets/img/human/duy.png' %}" class="testimonial-img" alt="">
              <h3>Cao Đức Duy</h3>
              <h4>Giám đốc Công nghệ</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Công nghệ không chỉ giúp thế giới vận hành tốt hơn, mà còn giúp con người giao tiếp dễ dàng hơn.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static '/assets/img/human/tu.jpg' %}" class="testimonial-img" alt="">
              <h3>Lê Anh Tú</h3>
              <h4>Giám đốc Marketing</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Marketing không chỉ là bán hàng, mà là kể một câu chuyện khiến khách hàng muốn đồng hành cùng chúng ta.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static '/assets/img/human/thai.png' %}" class="testimonial-img" alt="">
              <h3>Nguyễn Hoàng Thái</h3>
              <h4>Giám đốc Thương mại</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Thành công thương mại không đến từ sản phẩm tốt nhất, mà từ trải nghiệm khách hàng tốt nhất.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static '/assets/img/human/nguyet.png' %}" class="testimonial-img" alt="">
              <h3>Phạm Ánh Nguyệt</h3>
              <h4>Giám đốc Nhân sự</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Tài sản quý giá nhất của công ty không phải là công nghệ, mà là những con người đứng sau nó.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static '/assets/img/human/giang.jpg' %}" class="testimonial-img" alt="">
              <h3>Lưu Trường Giang</h3>
              <h4>Giám đốc Tài chính</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Tài chính không chỉ là những con số, mà là chiến lược để biến tầm nhìn thành hiện thực.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section><!-- /Testimonials Section -->
{% endblock main-content %}
