{% extends "base.html" %}
{% load static %}

{% block main-content %}
<main class="main">

  <!-- Hướng Dẫn Sử Dụng -->
  <section id="guide" class="guide section">
    
    <!-- Section Title -->
    <div class="container section-title text-center" data-aos="fade-up">
      <h2 class="section-title-heading mb-3">Hướng Dẫn Sử Dụng</h2>
      <p class="section-title-description">Các mục hướng dẫn sử dụng của hệ thống:</p>
    </div><!-- End Section Title -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">

          <!-- Mục 1: HDSD Tool -->
          <div class="guide-item mb-4">
            <h3 class="guide-item-title">1. Hướng Dẫn Sử Dụng Tool</h3>
            <p>Sử dụng tool qua các bước sau:</p>
            <ol>
              <li>Vào trang  <strong>Trải nghiệm</strong>. </li>
              <li>Tại đây sẽ có thông tin gói các bạn đang sử dụng.</li>
              <li>Chọn các lựa chọn phù hợp và điền đoạn văn bạn muốn chuyển đổi sang giọng nói.</li>
              <li>Bấm <strong>Generate</strong> để hoàn tất thao tác chuyển đổi.</li>
              <p><img src="{% static 'assets/img/HDSD_tool.png' %}" alt="Hướng dẫn sử dụng" class="img-fluid mb-3"></p>

            </ol>
          </div>

          <!-- Mục 2: Hướng Dẫn Nạp Tiền -->
          <div class="guide-item mb-4">
            <h3 class="guide-item-title">2. Hướng Dẫn Nạp Tiền</h3>
            <p>Để nạp tiền vào tài khoản của bạn, vui lòng làm theo các bước dưới đây:</p>
            <ol>
              <li>Đăng nhập vào tài khoản của bạn.</li>
              <li>Chọn mục <strong>Nạp Tiền</strong> từ menu.</li>
              <li>Chọn phương thức nạp tiền và điền thông tin yêu cầu.</li>
              <li>Chờ <strong>2-5 phút</strong> để hoàn tất giao dịch.</li>
            </ol>
            <p><img src="{% static 'assets/img/nap_tien.png' %}" alt="Hướng dẫn nạp tiền 1" class="img-fluid mb-3"></p>
            {% comment %} <p><img src="{% static 'assets/img/nap_tien.png' %}" alt="Hướng dẫn nạp tiền 2" class="img-fluid"></p> {% endcomment %}
            <p><i>Nếu sau 2-5 phút bạn không thấy thay đổi hãy liên hệ chúng tôi qua <a href="https://www.facebook.com/nguyetpham.19.2/" target="_blank">Facebook</a> hoặc <a href="https://zalo.me/0944510943" target="_blank">Zalo</a></i> để được hỗ trợ!</p>

          </div>

          <!-- Mục 3: Hướng Dẫn Mua Gói -->
          <div class="guide-item mb-4">
            <h3 class="guide-item-title">3. Hướng Dẫn Mua Gói</h3>
            <p>Để mua gói dịch vụ, làm theo các bước sau:</p>
            <ol>
              <li>Chọn gói dịch vụ mà bạn muốn mua từ danh sách.</li>
              <li>Nhấn vào <strong>Chọn Mua</strong> để bắt đầu quá trình thanh toán.</li>
              <p><img src="{% static 'assets/img/mua_goi.png' %}" alt="Hướng dẫn mua gói 1" class="img-fluid mb-3"></p>
              <li>Điền thông tin thanh toán và xác nhận giao dịch.</li>
              <p><img src="{% static 'assets/img/mua_goi2.png' %}" alt="Hướng dẫn mua gói 2" class="img-fluid"></p>
              <li>Hoàn tất thanh toán và hệ thống sẽ tự động kích hoạt gói cho bạn.</li>

            </ol>
          </div>

          <!-- Mục 4: Hướng Dẫn Liên Hệ -->
          <div class="guide-item mb-4">
            <h3 class="guide-item-title">4. Hướng Dẫn Liên Hệ</h3>
            <p>Để liên hệ với chúng tôi, bạn có thể sử dụng các phương thức sau:</p>
            <ul>
              <li>Gửi email đến <strong>pham.nguyet.is.here@gmail.com</strong></li>
              <li>Gọi đến số điện thoại: <strong>(+84) 944 510 943</strong></li>
              <li>Truy cập trang hỗ trợ trực tuyến tại <a href="https://www.facebook.com/nguyetpham.19.2/">đây</a>.</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

  </section><!-- /Hướng Dẫn Sử Dụng -->

</main>
{% endblock main-content %}
